@model EasyAuthSamples.MultiProviderSite.Models.Home.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model.IsAuthenticated)
    {
        <p class="lead">You are logged in as @Model.UserName</p>
        <p><a href="/.auth/logout">Sign out</a></p>
    }
    else
    {
        <div class="row">
            <div class="col">
                <a href="/.auth/login/aad?post_login_redirect_uri=/Home/Index"><img src="img/microsoft.svg" height="100"/><br/>Log in with Entra ID</a>
            </div>
            <div class="col">
                <a href="/.auth/login/google?post_login_redirect_uri=/Home/Index"><img src="img/google.svg" height="100" /><br />Log in with Google</a>
            </div>
            <div class="col">
                <a href="/.auth/login/github?post_login_redirect_uri=/Home/Index"><img src="img/github.svg" height="100" /><br />Log in with Github</a>
            </div>
        </div>
    }
    <p></p>
</div>
